
/*Hack different depth of nodes will use different colour allowing you to 
see the size of each element on the page, their margin and their padding. 
Now you can easily identify inconsistencies.

* { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }*/


/*resets all default browser padding and margin to 0*/
* {
	margin: 0px;
	padding: 0px;
}

/*resets the box model to border-box for all HTML elements. */
/*The border-box model is not affected by border thickness or padding.*/
* {
	/*box-sizing: border-box;*/
}



/*start of stylesheet*/
body {
	background-color: #21232c;
}

.img-container {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

img:hover {
	color: grey;
}

h1, h2 {
	font-family: 'Raleway', sans-serif;
	color: #ffff;
	text-align: center;
	font-size: 40px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

p {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	font-size: 20px;
	margin-top: 20px;

}

h1 {
	top: 43%;
	left: 50%;
}

h2 {
	top: 50%;
	left: 50%;
}

span {
	color: #e40c71;
	font-weight: bold;
	word-spacing: 
}

.nav {
	background-color: #21232c;
	/*background-color: black;*/
}

.nav, a{
	color: #ffff;
	text-decoration: none;
	text-align: center;
	padding:20px;
	padding:20px;
	
}

.nav, a:hover {
	color: #e40c71;
	font-family: 'Raleway', sans-serif;
}



.container {
	height: 600px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0px auto;
	width: 100%;
	
}

.header-container {
	height: 200px;
	width: 200px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0px auto;
	width: 100%;
}

div, h2,h1 {
	text-align:left;
}

.home-header h1{
	text-align: center;
}

.projects-container {
	display: flex;
	justify-content: center;
	
}

.img-projects {
	height: 350px;
	width: 300px;
	border-radius: 10%;
}

.flex-item {
	display:block;
	height: 350px;
	width: 300px;
	padding: 5px;
	margin: 20px;
	border-radius: 10%;
	background-color: #21232c;
	border: #ffff solid 2px;
	color: #e40c71;
	font-family: 'Raleway', sans-serif;
	text-align: center;

}


.social {
	text-align: center;
	margin-top:100px;
}

.social, a:hover {
	color:#e40c71;
}


form {
	color: #ffff;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin: 20px;
}

form input {
	width: 25%;
	margin: 10px;
}

input[type=submit]{
	padding: 10px;
	width: 5%;
	background-color: #e40c71;
	color: #ffff;
	border-color: #e40c71;
	border-radius: 5px;

}

input[type=message]{
	padding-top: 50px;
	padding-bottom:50px;
	
}



.cv {
	background-color: #e40c71;
	color: #ffff;
	border: none;

	padding: 10px;
	
}

@media only screen and (min-width:320px) and (max-width:500px) and
(orientation:portrait) {
	body {
		background-color: green;
	}
	


}

/*below media query uses commas this is used 
if only one of the multiple meadia feature must be met*/

@media only screen and (max-width:557px){
	.home-header h1, h2 {
		font-size: 20px;	

	}
	.nav {
		padding: 10px;
		font-size: 12px;
	}
}


	@media only screen and (max-width:842px) {

 	.container {
 		display:inline-flex;
  		flex-wrap:wrap;

 	}

 	.about-header h1 {
 		text-align: center;
 		font-size: 30px;
 	}

	.about-header p {
		text-align: center;
		font-size: 15px;
	}
}

